@model List<codemasters.Domain.Entities.Stats.EPL>

@{
    ViewBag.Title = "EPL";
}


<!DOCTYPE html>

<img src="https://i0.wp.com/www.freekicksreport.com/wp-content/uploads/2017/09/Premier-League-Trophy.jpg?fit=900%2C738&ssl=1" width="1100px" height="1000px" align="center">
<h1 id="EPL">English Premier Ligue standings:</h1>
<table class="table">
    <thead>
        <tr>
            <th>Place</th>
            <th>Team</th>
            <th>Wins</th>
            <th>Draws</th>
            <th>Loses</th>
            <th>Gols Scored</th>
            <th>Gols Received</th>
            <th>Points</th>
        </tr>
    </thead>
    @foreach (var team in Model)
    {
        if (team.Id >= ViewBag.HOT.ChampionLeagueGroupStageMin && team.Id <= ViewBag.HOT.ChampionLeagueGroupStageMax)
        {
            <tbody>
                <tr class="TableBlue">
                    <th>@team.Id</th>
                    <th>@team.Team</th>
                    <th>@team.Wins</th>
                    <th>@team.Draws</th>
                    <th>@team.Loses</th>
                    <th>@team.Gols_scored</th>
                    <th>@team.Gols_received</th>
                    <th>@team.Points</th>
                </tr>
            </tbody>
        }
        else if (team.Id >= ViewBag.HOT.ChampionLeagueQualificationMin && team.Id <= ViewBag.HOT.ChampionLeagueQualificationMax)
        {
            <tbody>
                <tr class="TableBlueLight">
                    <th>@team.Id</th>
                    <th>@team.Team</th>
                    <th>@team.Wins</th>
                    <th>@team.Draws</th>
                    <th>@team.Loses</th>
                    <th>@team.Gols_scored</th>
                    <th>@team.Gols_received</th>
                    <th>@team.Points</th>
                </tr>
            </tbody>
        }
        else if (team.Id >= ViewBag.HOT.EuropaLeagueGroupStageMin && team.Id <= ViewBag.HOT.EuropaLeagueGroupStageMax)
        {
            <tbody>
                <tr class="TableGreen">
                    <th>@team.Id</th>
                    <th>@team.Team</th>
                    <th>@team.Wins</th>
                    <th>@team.Draws</th>
                    <th>@team.Loses</th>
                    <th>@team.Gols_scored</th>
                    <th>@team.Gols_received</th>
                    <th>@team.Points</th>
                </tr>
            </tbody>
        }
        else if (team.Id >= ViewBag.HOT.EuropaLeagueQualificationMin && team.Id <= ViewBag.HOT.EuropaLeagueQualificationMax)
        {
            <tbody>
                <tr class="TableYellow">
                    <th>@team.Id</th>
                    <th>@team.Team</th>
                    <th>@team.Wins</th>
                    <th>@team.Draws</th>
                    <th>@team.Loses</th>
                    <th>@team.Gols_scored</th>
                    <th>@team.Gols_received</th>
                    <th>@team.Points</th>
                </tr>
            </tbody>
        }
        else if (team.Id >= ViewBag.HOT.OutOfLeagueAdditionalMatchMin && team.Id <= ViewBag.HOT.OutOfLeagueAdditionalMatchMax)
        {
            <tbody>
                <tr class="TableRedLite">
                    <th>@team.Id</th>
                    <th>@team.Team</th>
                    <th>@team.Wins</th>
                    <th>@team.Draws</th>
                    <th>@team.Loses</th>
                    <th>@team.Gols_scored</th>
                    <th>@team.Gols_received</th>
                    <th>@team.Points</th>
                </tr>
            </tbody>
        }
        else if (team.Id >= ViewBag.HOT.OutOfLeagueMin && team.Id <= ViewBag.HOT.OutOfLeagueMax)
        {
            <tbody>
                <tr class="TableRed">
                    <th>@team.Id</th>
                    <th>@team.Team</th>
                    <th>@team.Wins</th>
                    <th>@team.Draws</th>
                    <th>@team.Loses</th>
                    <th>@team.Gols_scored</th>
                    <th>@team.Gols_received</th>
                    <th>@team.Points</th>
                </tr>
            </tbody>
        }
        else
        {
            <tbody>
                <tr>
                    <th>@team.Id</th>
                    <th>@team.Team</th>
                    <th>@team.Wins</th>
                    <th>@team.Draws</th>
                    <th>@team.Loses</th>
                    <th>@team.Gols_scored</th>
                    <th>@team.Gols_received</th>
                    <th>@team.Points</th>
                </tr>
            </tbody>
        }
    }
</table>